name: Python Package using Conda

on: [push]

jobs:
  build-linux:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - name: Add conda to system path
      run: |
        # $CONDA is an environment variable pointing to the root of the miniconda directory
        echo $CONDA/bin >> $GITHUB_PATH
    - name: install bundling dependencies
      run: |
        conda install -c knime -c conda-forge knime-extension-bundling
    - name: Build
      run: |
        build_python_extension.py tutorial_extension output
        
    - name: Easy Zip Files
      uses: vimtor/action-zip@v1
      with:
        files: "output/*update*/target/repository"
        dest: output.zip 
